nav ul{
    background-color: bisque;
    border-style:solid ;
    border-color: burlywood;
    border-radius: 10px;
    border-width: 2px;
    padding: 16px;
    
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    padding: 8px;
    border-width: 40px;
    padding: 10px;
    padding-bottom: 18px;
}
nav ul li a {
    text-decoration: none;
    color: olive;
    padding: 8px;
    
}
body{
    background-color: rgb(215, 250, 223);
}
 main{
    margin: 20px;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(130, 108, 80);
 }
 
 footer{
    margin-top: 20px;
    font-size: medium;
    font-weight: 900;
    color: rgb(114, 97, 74);
 }
 p{
    padding-top: 10px;
 }
 img{
    width: 500px;
    height: 190px;
 }
 h4{
    color:rgb(114, 97, 74); ;
    font-size: larger;
    font-weight: bold;
 }
 .uu{
    padding: 10px;
 }
 p {
   padding: 25px;
 }
 .r{
   background-clip: border-box;
   background-color: bisque;
   border: 10px  dotted rgb(255, 0, 0);
   padding: 10px;
 }
 .f{
   background-clip: border-box;
   background-color: bisque;
   border: 10px  dotted rgb(121, 65, 65);
   padding: 10px;
 }
.m{
   background-clip: border-box;
   background-color: bisque;
   border: 10px  dotted rgb(182, 134, 134);
   padding: 10px;
}
h3{
   font-weight: bolder;
   font-style: italic;
   color: rgb(80, 69, 55);
}